body {
  margin: 0;
  padding: 0;
  background: url(image/hina.jpg) center no-repeat;
  background-size: cover;
  height: 86.1rem;
} 

h1 {
  font-family: "Parisienne", cursive;
  font-weight: 800;
  font-size: 3.6rem;
  margin: 0;
}
.wrapper,
.list_wrapper,
nav{
  display: flex;
}

.wrapper {
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: darkorange;
  padding: 0 1.25rem;
  opacity: 0.71;
}

.list_wrapper {
  gap: 20px;
}

.list_wrapper,
.list_title {
  list-style: none;
}

nav {
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

h1, a {
  text-shadow: rgb(54, 52, 52) 2px 0 10px;
  color: white;
}

/*MAIN*/
.card_head, .card_body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 2.563rem;
  padding: 8px;
  flex-wrap: wrap;
  }
/* CARDS */
.card{
  width: 20%;
  height: 35rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 18px;
  background-color: rgba(0,0,0,0.6);
  box-shadow: 5px 5px 15px rgba(255,255,255,0.9);
  text-align: center;
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  cursor: pointer;
}
.card_title{
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 2px 0 10px;
}
.card_text h3{
  margin-top: 0px;
  font-size: 28px;
  margin: 25px;
}
.card_a{
  color: black;
}
.card:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
#card_middle{
  margin-top: inherit;
  height: 31rem;
}
img{
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px ;
}
.img_1{
  height: 14.5rem;
}
.img_2, .img_5{
  height: 15rem;
}
.img_3, .img_4{
  height: 14rem;
}
.img_4{
  opacity: 0.5;
}
.footer{
  background-color: #dfdddd ;
  height: 100px;
  margin: -15px;
}
.p_footer{
  text-align: center;
  padding: 1.3rem;
}





